<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bank App</title>
</head>
<body>
<div class="login-box">
  <h1>은행 테스트 앱</h1>
  <p>{{ message }}</p>
</div>
</body>
</html>
